body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.container {
  text-align: center;
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

h1 {
  margin-bottom: 20px;
}

.inputs input {
  width: 70px;
  padding: 10px;
  margin: 5px;
  font-size: 18px;
  text-align: center;
}

#display {
  font-size: 48px;
  margin: 20px 0;
}

.buttons button {
  padding: 10px 20px;
  font-size: 16px;
  font: 1rem;
  background-color: #acb6e5;
  margin: 5px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#message {
  font-size: 24px;
  color: red;
  margin-top: 20px;
}

.buttons button:hover{
  background-color: #74ebd5;
}